.mobile-overlay {
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  margin: 0;
  border: none;

  &:modal {
    width: 100%;
    height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__list {
    @include flex-center;

    flex-direction: column;
    row-gap: 30px;
    min-height: 80vh;
  }
}