.review-card {
  --reviedCardCornerWidth: 40px;
  --reviedCardCornerOffsetLeft: 52px;

  display: flex;
  flex-direction: column;
  row-gap: 48px;

  &__body {
    position: relative;
    padding: 48px var(--reviedCardCornerOffsetLeft) 52px;
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-large);

    &::after {
      @include square(var(--reviedCardCornerWidth));

      content: '';
      background-color: var(--color-dark);
      position: absolute;
      top: 100%;
      left: var(--reviedCardCornerOffsetLeft);
      border: inherit;
      rotate: 45deg;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
      translate: 0 -50%;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--reviedCardCornerOffsetLeft) + var(--reviedCardCornerWidth) / 2 );
  }

  &__name,
  &__company {
    font-style: normal;
  }

  &__name {
    color: var(--color-accent);
  }
}