.reviews {
  display: flex;
  flex-direction: column;
  row-gap: 124px;
  padding-top: 84px;
  padding-bottom: 68px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);

  &__slider {
    --reviewsSliderSlideWidth: 606px;

    &-list {
      display: flex;
      column-gap: 50px;
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      margin-left: calc(var(--reviewsSliderSlideWidth) / 2 * -1);
    }

    &-item {
      scroll-snap-align: start;
      min-width: var(--reviewsSliderSlideWidth);
    }
  }
}