@mixin fluid-text($max: 48, $min: 16) {
  font-style: clamp(#{$min}px, #{$max / 1440px *100}vw, #{$max}px);
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover, {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin flex-center ($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}